.container {
  position: relative;
  left: 900px;
  bottom: 90px;
}

.amount {
    position: absolute;
    bottom: -20px;
    right: -20px;
    background-color: #3f51b5;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #ffffff;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
    font-size: 20px;
}