.filter {
    margin-left: 4;
    margin-right: 4;
    background-color: 'rgba(255, 255, 255, 0.15)';
    width: 250;
    font: 'inherit';
    border: '1px solid #212121';
    cursor: 'text';
    padding: 8;
    outline: 'none';
    font-size: 20px;
  }